* {
    margin:0;
    padding: 0px 10px;
    box-sizing: border-box;
    /* Search */
}
body {

    max-width: 1440px;
    background-color:rgb(255, 255, 252);
    margin: auto;
    /* Auto */
    overflow:scroll;

}
nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
   margin-right: 9%;
}
nav ul{
    display: flex;
  align-items: center;
  
}
nav ul li{list-style: none;
    margin: 10px;
    font-weight: 200;
    font-size: x-large;
}
nav ul li:first-child{
    color: black;
    font-weight: 900;
}
.button-group{
    display: flex;
    align-items: center;
    }
button{
    font-size:x-large;
   border-radius:14px;
   padding: 5% 10%;
   margin: 10px;
   border: 3px solid;
   background-color: rgb(255, 255, 252);
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.square{
    position: absolute;
    top:75%;
    left: 20%;
}
div img{
    position:relative;
    padding:4% 0%;
}
.star{
    position: absolute;
    right: 15%;
    top:20%;
}
.star1 {
    position: absolute;
    left: 50%;
  bottom:7%;
 
}

.globe{
    position:absolute;
    right:44%;
    top: 23vh;

}
.hero-container-right{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    right: 15%;
    top: 30%;
  
}
.hero-container-right h1{
   font-size:62px;
   font-weight: 800;
   padding-top: 50px;

}
.hero-container-right p {
    position:relative;
    font-size: 20px;
    padding: 10%;
    width: 100%;
    
    color: grey;
    font-weight: 600;
}

.btn{
    display: flex;
    position: absolute;
    top: 100%;
    left: 15%;
}
.button-email {
  background-color: #ffffff;
   color:gray;
   width: 70%;
   font-size: 20px;
  
}
.contact-heading{
    position: absolute;
    margin-top: 20%;
    font-size: x-large;
    right: 40%;
    color: grey;

}
.icons{
    position: absolute;
    margin-top: 35%;
    right: 20%;
}





